BASE_URL=http://localhost:5000
# Authentication
PORTAL_USERNAME=siddiquez296@gmail.com
PORTAL_PASSWORD=Shani@1122

# Captcha
USE_MOCK_CAPTCHA=True
CAPTCHA_API_KEY=your_captcha_service_key
NOPECHA_API_KEY=4AAAAAAAA-1LUipBaoBps

# OTP DB API
OTP_API_ENDPOINT=http://localhost:5001/get-otp
OTP_API_KEY=your_optional_secret

# Appointment Details
# Adjust these based on the exact payload parameters
APPOINTMENT_DATE_FROM=09/07/2026
APPOINTMENT_TYPE=26
APPOINTMENT_VAC_ID=138

# applicant data (These fields will later be moved to a CSV/config for multi-applicant processing)
APPLICANT_EMAIL=siddiquez296@gmail.com
APPLICANT_FIRSTNAME=SHAHID
APPLICANT_SURNAME=RIAZ
APPLICANT_DOB=01/01/2000
APPLICANT_PASSPORT=FR321456
APPLICANT_PASSPORT_EXP=01/01/2036
APPLICANT_GENDER_ID=2
APPLICANT_NATIONALITY_ID=197
APPLICANT_PHONE_PREFIX_ID=197
APPLICANT_PHONE=3165185964
BOOKING_FOR=0
