SAAS_ADMIN_EMAIL=amr.shah@gmail.com
SAAS_ADMIN_PASSWORD=RootSamWMgr429

TENANT_ADMIN_EMAIL=admin@kausar.com
TENANT_ADMIN_PASSWORD=SecurePass123!

TENANT_STAFF_EMAIL=staff@kausar.com
TENANT_STAFF_PASSWORD=StaffPass123!
